.styled-table {
    
    border-collapse: collapse;
    margin: 10px 20px;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 1000px;
   margin: 50px 120px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.styled-table thead tr {
    background-color: #0669AD;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 10px 20px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
body{
    margin: 0;
    border: 5px solid #0669AD;
    padding: 10px;
   
}

h2 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.one h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.one h2:after {
  width: 100px;
  height: 0px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}
.form-container{
    margin: 20px 0px;
}
hr{
    border: 1px solid black;
}
::placeholder
{
    width: 120px;
    height: 40px;
    
    
    
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    
    color: rgba(0, 0, 0, 0.63);
}

.input-place:focus::placeholder
{
    color: transparent;
}

.input-place:focus
{
    outline: 0;
    border-color: #86bfee;
    box-shadow: 0px 0px 10px #86bfee;
}

.input-place
{
 padding: 10px; 
width: 500px;
height: 30px;
margin: 10px;
background: #F7F7F7;
border: 1px solid #86bfee;
box-sizing: border-box;
border-radius: 5px;
}


.btn-submit
{
    width: 200px;
height: 30px;
margin: 10px;
cursor: pointer;
color:#FFFFFF ;
    background-color:#0669AD ;
    border:  #0B7D85;
border-radius: 5px;
}

select{
    
    width: 500px;
height: 30px;
margin: 10px;
background: #F7F7F7;
border: 1px solid #86bfee;
box-sizing: border-box;
border-radius: 5px;
}
